li.list-group-item.px-1.px-md-3.d-flex.align-items-center(data-video=video_id)
    button.btn.btn-link.px-0.mx-0(type="button" title="Move down")
        span.btn-playlist-down.material-icons.align-middle.px-0.mx-0 arrow_downward
    button.btn.btn-link.px-0.mx-0(type="button" title="Move up")
        span.btn-playlist-down.material-icons.align-middle.px-0.mx-0 arrow_upward
    .flex-fill.px-3 #{title} (#{duration})
    button.btn.btn-link(type="button" title="Remove from list")
        span.btn-playlist-remove.material-icons.align-middle.p-1 cancel
