extends layout

block content
  .container-fluid.bg-hypnotize
    .container.d-flex.flex-column(style="height:100vh;")
      .flex-grow-1
      .row.justify-content-center.align-items-center(style="font-size:100px;")
        h1.display-1.pr-3.font-weight-bold #{status}
        .d-none.d-sm-block.border-right.border-dark.mr-3(style="height:80%;")
        h2.display-4.lead #{message}
      .row.justify-content-center
        pre.w-100 #{error.stack}
      .row.justify-content-center
        a.btn.btn-primary.btn-lg.btn-block(href="/") Return to main page
      .flex-grow-1
      .flex-grow-1


