extends layout

block metas
  script(src='/javascripts/index.js')

block content
  .container.py-3.mt-sm-3.transparent-bg.wobbly-border
    .text-danger.flash-error-message #{error_message}
    .text-info.flash-info-message #{info_message}
    form(class="form-signin" method="POST" action="/")
      .text-center
        h1.font-weight-bold Create a Room
      .form-row
        .form-group.col-md-2
          label(for="roomType") Room Type
            span.d-inline-block(tabindex="-1" data-toggle="popover" data-trigger="hover" title="Room Type" data-html="true" data-content="Select the type of the room you want to create:<hr><b>Quiz</b>: You take turns to ask each other questions.<br/><b>Sketch (NOT IMPLEMENTED)</b>: Draw with your firends, like pictionary.<br/><b>Youtube (NOT IMPLEMENTED)</b>: Watch youtube videos or listen to music in sync with your friends!")
              small
                i.far.fa-question-circle.ml-1
          select#roomType.form-control(name="roomType")
            option(val=1 selected) Quiz
            option(val=2 disabled) Sketch
            option(val=3 disabled) Youtube
        .form-group.col-md-5
          label(for="roomName") Room Name
            span.d-inline-block(tabindex="-1" data-toggle="popover" data-trigger="hover" title="Room Name" data-content="Name of the room for your friends. (Not required)")
              small
                i.far.fa-question-circle.ml-1
          input#roomName.form-control(type="text" name="roomName" placeholder="My amazing room!")
        .form-group.col-md-5
          label(for="roomPassword") Room Password
            span.d-inline-block(tabindex="-1" data-toggle="popover" data-trigger="hover" title="Room Password" data-content="You can set a password for joining the room (If you want anyone with the url to be able join, leave it empty)")
              small
                i.far.fa-question-circle.ml-1
          input#roomPassword.form-control(type="text" name="roomPassword" placeholder="my super secret password")
      .form-row.pt-3
        .form-group.col-md-6
          .input-group.pb-1
            label.col-lg-4.col-md-6(for="roundAmount") # of Rounds:
              span.d-inline-block(tabindex="-1" data-toggle="popover" data-trigger="hover" title="Number of Rounds" data-content="Length of the round is based on how many people there are in the room. For example, for quiz type room, 1 round ends when everyone in the room asks a question.")
                small
                  i.far.fa-question-circle.ml-1
            input#roundAmount.col-lg-8.col-md-6.form-control(type="number" name="roundAmount" value=3 min=1)
            .input-group-append
              .input-group-text round(s)
          .input-group
            label.col-lg-4.col-md-6(for="turnLimit") Turn Limit:
            input#turnLimit.col-lg-8.col-md-6.form-control(type="number" name="turnLimit" value=60 min=5)
            .input-group-append
              .input-group-text seconds
          .form-group.ml-5.pt-3
            .form-check
              input#doublePoints.form-check-input(type="checkbox" name="doublePoints" checked)
              label.form-check-label(for="doublePoints") Double points on last round
        .form-group.col-md-6.pl-5
          label.col-md-6(for="turnLimit") Theme:
          .form-row
            .col-lg-2.col-4
                input#themePentagon.d-none(type="radio" name="roomTheme" value="bg-pentagon" checked=(selected_theme === 'bg-pentagon' ? true : false))
                label.theme-label.bg-pentagon(for="themePentagon")
            .col-lg-2.col-4
                input#themeSquigly.d-none(type="radio" name="roomTheme" value="bg-squiggly" checked=(selected_theme === 'bg-squiggly' ? true : false))
                label.theme-label.bg-squiggly(for="themeSquigly")
            .col-lg-2.col-4
                input#themePolka.d-none(type="radio" name="roomTheme" value="bg-polka" checked=(selected_theme === 'bg-polka' ? true : false))
                label.theme-label.bg-polka(for="themePolka")
            .col-lg-2.col-4
                input#themeSymphony.d-none(type="radio" name="roomTheme" value="bg-symphony" checked=(selected_theme === 'bg-symphony' ? true : false))
                label.theme-label.bg-symphony(for="themeSymphony")
            .col-lg-2.col-4
                input#themeSakura.d-none(type="radio" name="roomTheme" value="bg-sakura" checked=(selected_theme === 'bg-sakura' ? true : false))
                label.theme-label.bg-sakura(for="themeSakura")
            .col-lg-2.col-4
                input#themeChristmas.d-none(type="radio" name="roomTheme" value="bg-christmas" checked=(selected_theme === 'bg-christmas' ? true : false))
                label.theme-label.bg-christmas(for="themeChristmas")

      button(class='btn btn-lg btn-primary btn-block my-3' type="submit") Create
