extends layout

block metas
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/socket.js')
  script(src='/javascripts/room.js')

block content
  #main-wrapper.container(data-room=RoomId)
    h1.font-weight-bold.float-right Room #{RoomId}
