.row.mr-md-0
    label.col-md-6(for="roomTheme") Theme:
.row.mr-md-0
    .col-lg-2.col-4
        input#themePentagon.d-none(type="radio" name="roomTheme" value="bg-pentagon" checked=(selected_theme === 'bg-pentagon' ? true : false))
        label.theme-label.bg-pentagon(for="themePentagon" title="Pentagons")
    .col-lg-2.col-4
        input#themeSquigly.d-none(type="radio" name="roomTheme" value="bg-squiggly" checked=(selected_theme === 'bg-squiggly' ? true : false))
        label.theme-label.bg-squiggly(for="themeSquigly" title="Squiggly Lines")
    .col-lg-2.col-4
        input#themePolka.d-none(type="radio" name="roomTheme" value="bg-polka" checked=(selected_theme === 'bg-polka' ? true : false))
        label.theme-label.bg-polka(for="themePolka" title="Polka Dots")
    .col-lg-2.col-4
        input#themeSymphony.d-none(type="radio" name="roomTheme" value="bg-symphony" checked=(selected_theme === 'bg-symphony' ? true : false))
        label.theme-label.bg-symphony(for="themeSymphony" title="Symphony")
    .col-lg-2.col-4
        input#themeSakura.d-none(type="radio" name="roomTheme" value="bg-sakura" checked=(selected_theme === 'bg-sakura' ? true : false))
        label.theme-label.bg-sakura(for="themeSakura" title="Sakura Leaves")
    .col-lg-2.col-4
        input#themeChristmas.d-none(type="radio" name="roomTheme" value="bg-christmas" checked=(selected_theme === 'bg-christmas' ? true : false))
        label.theme-label.bg-christmas(for="themeChristmas" title="Christmas")
.row.mr-md-0
    .col-lg-2.col-4
        input#themeZigzag.d-none(type="radio" name="roomTheme" value="bg-zigzag" checked=(selected_theme === 'bg-zigzag' ? true : false))
        label.theme-label.bg-zigzag(for="themeZigzag" title="Zig Zags")
    .col-lg-2.col-4
        input#themeWifi.d-none(type="radio" name="roomTheme" value="bg-wifi" checked=(selected_theme === 'bg-wifi' ? true : false))
        label.theme-label.bg-wifi(for="themeWifi" title="Wifi Signal")
    .col-lg-2.col-4
        input#themeCircles.d-none(type="radio" name="roomTheme" value="bg-circular" checked=(selected_theme === 'bg-circular' ? true : false))
        label.theme-label.bg-circular(for="themeCircles" title="Circles")
    .col-lg-2.col-4
        input#themeYellow.d-none(type="radio" name="roomTheme" value="bg-yellow" checked=(selected_theme === 'bg-yellow' ? true : false))
        label.theme-label.bg-yellow(for="themeYellow" title="Yellow")
    .col-lg-2.col-4
        input#themeTriangles.d-none(type="radio" name="roomTheme" value="bg-gplay" checked=(selected_theme === 'bg-gplay' ? true : false))
        label.theme-label.bg-gplay(for="themeTriangles" title="Triangles")
    .col-lg-2.col-4
        input#themeCanadian.d-none(type="radio" name="roomTheme" value="bg-canadian" checked=(selected_theme === 'bg-canadian' ? true : false))
        label.theme-label.bg-canadian(for="themeCanadian" title="Canadian Dollar")
