
.row.mr-md-0
    label(for="userAvatar") Select an Avatar:
.row.d-flex.flex-wrap.justify-content-around
    .mx-1
        input#avatarCat.d-none(type="radio" name="userAvatar" value="cat.png" checked=(User.Avatar === 'cat.png' ? true : false))
        label.avatar-label(for="avatarCat" title="Cat" style="background-image:url(/images/user_icons/cat.png")
    .mx-1
        input#avatarDeer.d-none(type="radio" name="userAvatar" value="deer.png" checked=(User.Avatar === 'deer.png' ? true : false))
        label.avatar-label(for="avatarDeer" title="Deer" style="background-image:url(/images/user_icons/deer.png")
    .mx-1
        input#avatarDog.d-none(type="radio" name="userAvatar" value="dog.png" checked=(User.Avatar === 'dog.png' ? true : false))
        label.avatar-label(for="avatarDog" title="Dog" style="background-image:url(/images/user_icons/dog.png")
    .mx-1
        input#avatarElephant.d-none(type="radio" name="userAvatar" value="elephant.png" checked=(User.Avatar === 'elephant.png' ? true : false))
        label.avatar-label(for="avatarElephant" title="Elephant" style="background-image:url(/images/user_icons/elephant.png")
    .mx-1
        input#avatarFox.d-none(type="radio" name="userAvatar" value="fox.png" checked=(User.Avatar === 'fox.png' ? true : false))
        label.avatar-label(for="avatarFox" title="Fox" style="background-image:url(/images/user_icons/fox.png")
    .mx-1
        input#avatarGiraffe.d-none(type="radio" name="userAvatar" value="giraffe.png" checked=(User.Avatar === 'giraffe.png' ? true : false))
        label.avatar-label(for="avatarGiraffe" title="Giraffe" style="background-image:url(/images/user_icons/giraffe.png")
    .mx-1
        input#avatarGoat.d-none(type="radio" name="userAvatar" value="goat.png" checked=(User.Avatar === 'goat.png' ? true : false))
        label.avatar-label(for="avatarGoat" title="Goat" style="background-image:url(/images/user_icons/goat.png")
    .mx-1
        input#avatarKoala.d-none(type="radio" name="userAvatar" value="koala.png" checked=(User.Avatar === 'koala.png' ? true : false))
        label.avatar-label(for="avatarKoala" title="Koala" style="background-image:url(/images/user_icons/koala.png")
    .mx-1
        input#avatarLion.d-none(type="radio" name="userAvatar" value="lion.png" checked=(User.Avatar === 'lion.png' ? true : false))
        label.avatar-label(for="avatarLion" title="Lion" style="background-image:url(/images/user_icons/lion.png")
    .mx-1
        input#avatarMonkey.d-none(type="radio" name="userAvatar" value="monkey.png" checked=(User.Avatar === 'monkey.png' ? true : false))
        label.avatar-label(for="avatarMonkey" title="Monkey" style="background-image:url(/images/user_icons/monkey.png")
    .mx-1
        input#avatarOwl.d-none(type="radio" name="userAvatar" value="owl.png" checked=(User.Avatar === 'owl.png' ? true : false))
        label.avatar-label(for="avatarOwl" title="Owl" style="background-image:url(/images/user_icons/owl.png")
    .mx-1
        input#avatarPanda.d-none(type="radio" name="userAvatar" value="panda.png" checked=(User.Avatar === 'panda.png' ? true : false))
        label.avatar-label(for="avatarPanda" title="Panda" style="background-image:url(/images/user_icons/panda.png")
    .mx-1
        input#avatarPig.d-none(type="radio" name="userAvatar" value="pig.png" checked=(User.Avatar === 'pig.png' ? true : false))
        label.avatar-label(for="avatarPig" title="Pig" style="background-image:url(/images/user_icons/pig.png")
    .mx-1
        input#avatarRaccoon.d-none(type="radio" name="userAvatar" value="raccoon.png" checked=(User.Avatar === 'raccoon.png' ? true : false))
        label.avatar-label(for="avatarRaccoon" title="Raccoon" style="background-image:url(/images/user_icons/raccoon.png")
    .mx-1
        input#avatarTiger.d-none(type="radio" name="userAvatar" value="tiger.png" checked=(User.Avatar === 'tiger.png' ? true : false))
        label.avatar-label(for="avatarTiger" title="Tiger" style="background-image:url(/images/user_icons/tiger.png")
    .mx-1
        input#avatarWolf.d-none(type="radio" name="userAvatar" value="wolf.png" checked=(User.Avatar === 'wolf.png' ? true : false))
        label.avatar-label(for="avatarWolf" title="Wolf" style="background-image:url(/images/user_icons/wolf.png")
