
.row.mr-md-0
    label(for="userAvatar") Select an Avatar:
.row.d-flex.flex-wrap.justify-content-around
    .mx-1
        input#avatarCat.d-none(type="radio" name="userAvatar" value="avt-cat" checked=(User.Avatar === 'avt-cat' ? true : false))
        label.avatar-label.avt-cat(for="avatarCat" title="Cat")
    .mx-1
        input#avatarDeer.d-none(type="radio" name="userAvatar" value="avt-deer" checked=(User.Avatar === 'avt-deer' ? true : false))
        label.avatar-label.avt-deer(for="avatarDeer" title="Deer")
    .mx-1
        input#avatarDog.d-none(type="radio" name="userAvatar" value="avt-dog" checked=(User.Avatar === 'avt-dog' ? true : false))
        label.avatar-label.avt-dog(for="avatarDog" title="Dog")
    .mx-1
        input#avatarElephant.d-none(type="radio" name="userAvatar" value="avt-elephant" checked=(User.Avatar === 'avt-elephant' ? true : false))
        label.avatar-label.avt-elephant(for="avatarElephant" title="Elephant")
    .mx-1
        input#avatarFox.d-none(type="radio" name="userAvatar" value="avt-fox" checked=(User.Avatar === 'avt-fox' ? true : false))
        label.avatar-label.avt-fox(for="avatarFox" title="Fox")
    .mx-1
        input#avatarGiraffe.d-none(type="radio" name="userAvatar" value="avt-giraffe" checked=(User.Avatar === 'avt-giraffe' ? true : false))
        label.avatar-label.avt-giraffe(for="avatarGiraffe" title="Giraffe")
    .mx-1
        input#avatarGoat.d-none(type="radio" name="userAvatar" value="avt-goat" checked=(User.Avatar === 'avt-goat' ? true : false))
        label.avatar-label.avt-goat(for="avatarGoat" title="Goat")
    .mx-1
        input#avatarKoala.d-none(type="radio" name="userAvatar" value="avt-koala" checked=(User.Avatar === 'avt-koala' ? true : false))
        label.avatar-label.avt-koala(for="avatarKoala" title="Koala")
    .mx-1
        input#avatarLion.d-none(type="radio" name="userAvatar" value="avt-lion" checked=(User.Avatar === 'avt-lion' ? true : false))
        label.avatar-label.avt-lion(for="avatarLion" title="Lion")
    .mx-1
        input#avatarMonkey.d-none(type="radio" name="userAvatar" value="avt-monkey" checked=(User.Avatar === 'avt-monkey' ? true : false))
        label.avatar-label.avt-monkey(for="avatarMonkey" title="Monkey")
    .mx-1
        input#avatarOwl.d-none(type="radio" name="userAvatar" value="avt-owl" checked=(User.Avatar === 'avt-owl' ? true : false))
        label.avatar-label.avt-owl(for="avatarOwl" title="Owl")
    .mx-1
        input#avatarPanda.d-none(type="radio" name="userAvatar" value="avt-panda" checked=(User.Avatar === 'avt-panda' ? true : false))
        label.avatar-label.avt-panda(for="avatarPanda" title="Panda")
    .mx-1
        input#avatarPig.d-none(type="radio" name="userAvatar" value="avt-pig" checked=(User.Avatar === 'avt-pig' ? true : false))
        label.avatar-label.avt-pig(for="avatarPig" title="Pig")
    .mx-1
        input#avatarRaccoon.d-none(type="radio" name="userAvatar" value="avt-raccoon" checked=(User.Avatar === 'avt-raccoon' ? true : false))
        label.avatar-label.avt-raccoon(for="avatarRaccoon" title="Raccoon")
    .mx-1
        input#avatarTiger.d-none(type="radio" name="userAvatar" value="avt-tiger" checked=(User.Avatar === 'avt-tiger' ? true : false))
        label.avatar-label.avt-tiger(for="avatarTiger" title="Tiger")
    .mx-1
        input#avatarWolf.d-none(type="radio" name="userAvatar" value="avt-wolf" checked=(User.Avatar === 'avt-wolf' ? true : false))
        label.avatar-label.avt-wolf(for="avatarWolf" title="Wolf")
