.material-icons.md-16 {
  font-size: 16px;
}

.hidden {
  display: none;
}

.p-line {
  white-space: pre-line;
}

.transparent-bg {
  background-color: #ffffffaa;
  box-shadow: 0 0 5px 5px #d8d8d830;
}
@media only screen and (min-width: 576px) {
  .wobbly-border {
    border: 4px solid #000000;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  }
}

.theme-label {
  width: 64px;
  height: 64px;
  border: 2px solid #555;
  border-radius: 15px;
  border-radius: 5px;
}
.theme-label:hover {
  cursor: pointer;
  border-color: #17a2b8;
  border-radius: 35px;
}

input[type="radio"]:checked + label {
  border-color: #17a2b8;
  border-radius: 35px;
}

input[type="radio"]:checked + label:before {
  content: "\2713";
  font-weight: bold;
  color: rgb(44, 139, 156);
  text-shadow: 0px 0px 4px #ffffff;
  position: absolute;
  font-size: 20px;
  left: 30px;
  top: 20px;
}

#loading-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10001;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.loading-overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

#loading-overlay .spinner-border {
  width: 10em !important;
  height: 10em !important;
}

#loading-overlay .spinner-text {
  margin-top: auto;
  margin-bottom: auto;
}

#toast-wrapper {
  z-index: 1060;
}

.close:before {
  display: none;
}

/* Background patterns */

.bg-squiggly {
  background: radial-gradient(
      circle at 100% 50%,
      transparent 20%,
      #ba83c436 21%,
      #ba83c436 34%,
      transparent 35%,
      transparent
    ),
    radial-gradient(
        circle at 0% 50%,
        transparent 20%,
        #ba83c436 21%,
        #ba83c436 34%,
        transparent 35%,
        transparent
      )
      0 -50px;
  background-size: 75px 100px;
  background-color: #ba83c436;
}

.bg-polka {
  background: radial-gradient(#f6c 15%, rgba(0, 0, 0, 0) 16%),
    radial-gradient(#3f90ff 15%, rgba(0, 0, 0, 0) 16%), #ffe79e;
  background-position: 0 0, 40px 40px;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 80px 80px;
}

/* Background patterns below are downloaded from https://www.toptal.com/designers/subtlepatterns/  */

.bg-sakura {
  background-image: url(/images/patterns/sakura.png);
}

.bg-symphony {
  background-image: url(/images/patterns/symphony.png);
}

.bg-christmas {
  background-image: url(/images/patterns/christmas-colour.png);
}

.bg-pentagon {
  background-image: url(/images/patterns/congruent_pentagon.png);
}

.bg-hypnotize {
  background-image: url(/images/patterns/hypnotize.png);
}

/* Background patterns end*/
