html,
body {
  min-height: 100vh;
  height: 100%;
}

.footer {
  border-top: 1px solid #dddf;
  background-color: #fffc;
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 576px) {
  .display-md-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

.material-icons {
  text-decoration: none !important;
}
.material-icons.md-16 {
  font-size: 16px;
}

.hidden {
  display: none;
}

.p-line {
  white-space: pre-line;
}

.t-ind-2 {
  text-indent: 2rem;
}

.transparent-bg {
  background-color: #ffffffaa;
  box-shadow: 0 0 5px 5px #d8d8d830;
}
@media only screen and (min-width: 576px) {
  .wobbly-border {
    border: 4px solid #000000;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  }
}

.theme-label {
  width: 64px;
  height: 64px;
  border: 2px solid #555;
  border-radius: 15px;
  border-radius: 5px;
}
.theme-label:hover {
  cursor: pointer;
  border-color: #17a2b8;
  border-radius: 35px;
}

input[type="radio"]:checked + label {
  border-color: #17a2b8;
  border-radius: 35px;
}

input[type="radio"]:checked + label:before {
  content: "\2713";
  font-weight: bold;
  color: rgb(44, 139, 156);
  text-shadow: 0px 0px 4px #ffffff;
  position: absolute;
  font-size: 20px;
  left: 30px;
  top: 20px;
}

#loading-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10001;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.loading-overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

#loading-overlay .spinner-border {
  width: 10em !important;
  height: 10em !important;
}

#loading-overlay .spinner-text {
  margin-top: auto;
  margin-bottom: auto;
}

#toast-wrapper {
  z-index: 1060;
}

.close:before {
  display: none;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Scrollbar */

/* Background patterns */

.bg-jumbotron {
  animation: colorchange 30s infinite;
  -webkit-animation: colorchange 30s infinite;
  background-color: #fffe928f;
}
@keyframes colorchange {
  0% {
    background-color: #fffe928f;
  }
  20% {
    background: #f3c2458f;
  }
  40% {
    background: #ffc1d18f;
  }
  60% {
    background: #80d4f98f;
  }
  80% {
    background: #abf3458f;
  }
  100% {
    background-color: #fffe928f;
  }
}
@-webkit-keyframes colorchange {
  0% {
    background-color: #fffe928f;
  }
  20% {
    background: #f3c2458f;
  }
  40% {
    background: #f9809f8f;
  }
  60% {
    background: #80d4f98f;
  }
  80% {
    background: #abf3458f;
  }
  100% {
    background-color: #fffe928f;
  }
}

.bg-squiggly {
  background: radial-gradient(
      circle at 100% 50%,
      transparent 20%,
      #ba83c436 21%,
      #ba83c436 34%,
      transparent 35%,
      transparent
    ),
    radial-gradient(
        circle at 0% 50%,
        transparent 20%,
        #ba83c436 21%,
        #ba83c436 34%,
        transparent 35%,
        transparent
      )
      0 -50px;
  background-size: 75px 100px;
  background-color: #ba83c436;
}

.bg-polka {
  background: radial-gradient(#f6c 15%, rgba(0, 0, 0, 0) 16%),
    radial-gradient(#3f90ff 15%, rgba(0, 0, 0, 0) 16%), #ffe79e;
  background-position: 0 0, 40px 40px;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 80px 80px;
}

.bg-zigzag {
  background: linear-gradient(135deg, rgb(254, 255, 237) 25%, transparent 25%) -25px 0,
    linear-gradient(225deg, rgb(254, 255, 237) 25%, transparent 25%) -25px 0,
    linear-gradient(315deg, rgb(254, 255, 237) 25%, transparent 25%),
    linear-gradient(45deg, rgb(254, 255, 237) 25%, transparent 25%);
  background-size: 50px 50px;
  background-color: rgb(128, 249, 253);
}

.bg-wifi {
  background-image: radial-gradient(
    ellipse farthest-corner at 2em 2em,
    #ff9e9d,
    #ff9e9d 50%,
    #ff3d7f 50%
  );
  background-size: 2em 2em;
}

.bg-circular {
  background-image: radial-gradient(
    ellipse 3em 3em,
    rgb(205, 233, 83),
    rgb(205, 233, 83) 25%,
    rgb(18, 204, 157) 25%
  );
  background-size: 2em 2em;
}

/* Background patterns below are downloaded from https://www.toptal.com/designers/subtlepatterns/  */

.bg-sakura {
  background-image: url(/images/patterns/sakura.png);
}

.bg-symphony {
  background-image: url(/images/patterns/symphony.png);
}

.bg-christmas {
  background-image: url(/images/patterns/christmas-colour.png);
}

.bg-pentagon {
  background-image: url(/images/patterns/congruent_pentagon.png);
}

.bg-hypnotize {
  background-image: url(/images/patterns/hypnotize.png);
}

.bg-webb {
  background-image: url(/images/patterns/webb.png);
}

.bg-yellow {
  background-image: url(/images/patterns/halftone-yellow.png);
}

.bg-gplay {
  background-image: url(/images/patterns/gplaypattern.png);
}

/* Background patterns end*/
